{:deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {metosin/malli {:mvn/version "0.16.2"}
                              org.slf4j/slf4j-simple {:mvn/version "2.0.13"}}}
           :publish {:exec-fn esp1.static/build}}}